# ------- For Bot Working ------- #
Pyromod
tgcrypto
pyrogram~=2.0.59
datetime
aiofiles
uvloop
git+https://github.com/Ripeey/Conversation-Pyrogram
motor
convopyro
# --------- For Database -------- #
pymongo
dnspython
